/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* Estilos globais */
  body {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Estilos do cabeçalho */
  header {
    text-align: left;
  }
  
  header img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos da navegação superior */
  nav.topnav {
    background-color: rgb(6, 6, 107);
    border-radius: 10px;
    overflow: hidden;
  }
  
  nav.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Estilos do conteúdo */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  article.content {
    flex-basis: calc(66.666% - 20px);
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #929292;
  }
  
  /* Estilos da barra lateral esquerda */
  aside.side_bar_left {
    flex-basis: calc(33.333% - 20px);
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
  }